body{
font-family: 'Courier New', Courier, monospace;
margin: 0;
padding: 0;
background-color: rgb(31, 158, 126);
}
.container{color: aliceblue;

}
.profissões{color: antiquewhite;

}
h1{color: aquamarine;

}
